<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style> body {background-color: navajowhite }
  </style>
</head>
<body>
<form action="admin">
  <input type = "submit" value="Понеділок">
</form>
<form action="admin">
  <input type = "submit" value="Вівторок">
</form>
<form action="edit">
  <input type = "submit" value="Середа" onclick ="${2}">
</form>
<form action="edit">
  <var></var>
  <input type = "submit" value="Четвер">
</form>
<form action="admin">
  <input type = "submit" value="П'ятниця">
</form>
<form action="admin">
  <input type = "submit" value="Субота">
</form>
<form action="admin">
  <input type = "submit" value="Неділя">
</form>
<form action="admtvprogramm">
  <input type = "submit" value="Назад">
</form>
</body>
</html>