<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style> body {background-color: navajowhite }
  </style>
</head>
<body>
<form th:method="PATCH" th:action="@{/admchannels/edit/{id}(id=${channel.getId()})}" th:object="${channel}">

  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name"/>

  <br>

  <label for="description">Description</label>
  <input type="text" th:field="*{description}" id="description"/>

  <br>

  <input type = "submit" value="Ok">
</form>

<form action="/admtvprogramm">
  <input type = "submit" value="Назад">
</form>
</body>
</html>