<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style> body {background-color: navajowhite }
  </style>
</head>
<body>
<form th:method="POST" th:action="@{/admtvprogramm}" th:object="${teleprogramm}">
    <label for="date">Date</label>
    <input type="text" th:field="*{date}" id="date"/>

    <br>

    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description"/>

    <br>

    <input type = "submit" value="Ok">
</form>

<form action="admtvprogramm">
    <input type = "submit" value="Назад">
</form>
</body>
</html>